<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-nK33jZkK/g239s3nE/jK/s4v2/JjG2FqK8X/9R2Q8Z/1p+E4g/g+V8I/O8P/P4b4V" crossorigin="anonymous">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-N82/MvC8K7/v7Xg+G0O5pG1+p4c3p4e4/q9Q7v3/g+F4p5/5N9v2/JjG2FqK8X/9R2Q8Z/1p+E4g/g+V8I/O8P/P4b4V" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-F8r8m4d3x3V6j1hQ/1x+q/4/2/G+V8I/O8P/P4b4V" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false}, 
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
            ],
            throwOnError : false
        });
    });
</script>
