<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
	{% include katex_setup.html %}
</head>
<body>

<header>
    <button id="theme-toggle">Modo Escuro 🌙</button>
</header>

    <header>
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
            <nav class="proximo-leitura">
    {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}">
            ← Postagem Anterior: {{ page.previous.title }}
        </a>
    {% endif %}

    {% if page.next %}
        <a href="{{ page.next.url | relative_url }}">
            Próxima Postagem: {{ page.next.title }} →
        </a>
    {% endif %}
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
        <p>Código MIT | Conteúdo CC BY-NC</p>
    </footer>
    <script src="{{ '/assets/js/theme-switcher.js' | relative_url }}" defer></script>
</body>
</html>
